pkgbase = zfs-linux-git
	pkgver = 2021.04.19.r6768.g44287ffa0_5.11.15.arch1.2
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	license = CDDL
	makedepends = linux-headers=5.11.15.arch1-2
	makedepends = git
	depends = kmod
	depends = zfs-utils-git=2021.04.19.r6768.g44287ffa0
	depends = linux=5.11.15.arch1-2
	source = git+https://github.com/zfsonlinux/zfs.git#commit=44287ffa0d5d6f23b4dc082b67ea5b7c5a465d8e
	sha256sums = SKIP

pkgname = zfs-linux-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	install = zfs.install
	groups = archzfs-linux-git
	provides = zfs
	provides = spl
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = zfs-linux
	conflicts = spl-linux-git
	conflicts = spl-linux
	replaces = spl-linux-git

pkgname = zfs-linux-git-headers
	pkgdesc = Kernel headers for the Zettabyte File System.
	provides = zfs-headers
	provides = spl-headers
	conflicts = zfs-headers
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = spl-headers

