pkgbase = zfs-linux-git
	pkgver = 2024.01.26.r8988.g78e8c1f844_6.7.2.arch1.1
	pkgrel = 1
	url = https://openzfs.org/
	arch = x86_64
	license = CDDL
	makedepends = linux-headers=6.7.2.arch1-1
	makedepends = git
	depends = kmod
	depends = zfs-utils-git=2024.01.26.r8988.g78e8c1f844
	depends = linux=6.7.2.arch1-1
	source = git+https://github.com/openzfs/zfs.git#commit=78e8c1f844cb512607f25af44149c41ba7819abc
	source = linux-6.7-compat.patch
	sha256sums = SKIP
	sha256sums = 43bca1a6717bfc77d42a4c51656c38674c6be8d7ec46f04c7febcdafd9295916

pkgname = zfs-linux-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	install = zfs.install
	groups = archzfs-linux-git
	provides = zfs
	provides = spl
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = zfs-linux
	conflicts = spl-linux-git
	conflicts = spl-linux
	replaces = spl-linux-git

pkgname = zfs-linux-git-headers
	pkgdesc = Kernel headers for the Zettabyte File System.
	provides = zfs-headers
	provides = spl-headers
	conflicts = zfs-headers
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = spl-headers
